<%- include('../partials/head',{title_page:'error'}) %>

   <h1>File found not </h1>
   <h2 class="mx-5">code 404 </h2>
   <div class="text-center">

      <a  href="/">
         <button type="button" class="btn btn-primary fs-3 text-center mt-5">Return au menu</button>
      </a>
   </div>
   
</body>
</html>