<%- include('../partials/head',{title_page:'contact'}) %>

<section class="mx-auto text-center  mt-5 ">
   <h1>Contactanos por:</h1>
   <img src="images/res_soc/facebook.svg" alt="">
   <img src="images/res_soc/twitter.svg" alt="">
   <img src="images/res_soc/instagram.svg" alt="">
   
</section>

 

<%- include('../partials/footer') -%>