<%- include('../partials/head',{title_page:'galery'}) %>
<%- include ('../partials/menu') -%>

<div class="container">
   <div class="portfolio-item row mt-4">
      
      <div class="item gts col-lg-4 col-md-4 col-sm-6 col-6 pt-4">
            <img class="img-fluid" src="images/galerie/causa.jpg" alt="">
      </div>
      <div class="item gts col-lg-4 col-md-4 col-sm-6 col-6 pt-4">
         <img class="img-fluid" src="images/galerie/ceviche.jpg" alt="">
      </div>
      <div class="item gts col-lg-4 col-md-4 col-sm-6 col-6 pt-4">
         <img class="img-fluid" src="images/galerie/chicha-morada.jpg" alt="">
      </div>
      <div class="item gts col-lg-4 col-md-4 col-sm-6 col-6 pt-4">
         <img class="img-fluid" src="images/galerie/lomo-saltado.jpg" alt="">
      </div>
      <div class="item gts col-lg-4 col-md-4 col-sm-6 col-6 pt-4">
         <img class="img-fluid" src="images/galerie/papa-rellena.jpg" alt="">
      </div>
      <div class="item gts col-lg-4 col-md-4 col-sm-6 col-6 pt-4">
         <img class="img-fluid" src="images/galerie/causa.jpg" alt="">
      </div>
      <div class="item gts col-lg-4 col-md-4 col-sm-6 col-6 pt-4">
         <img class="img-fluid" src="images/galerie/ceviche.jpg" alt="">
      </div>
      <div class="item gts col-lg-4 col-md-4 col-sm-6 col-6 pt-4">
         <img class="img-fluid" src="images/galerie/chicha-morada.jpg" alt="">
      </div>
      <div class="item gts col-lg-4 col-md-4 col-sm-6 col-6 pt-4">
         <img class="img-fluid" src="images/galerie/lomo-saltado.jpg" alt="">
      </div>
      <div class="item gts col-lg-4 col-md-4 col-sm-6 col-6 pt-4">
         <img class="img-fluid" src="images/galerie/papa-rellena.jpg" alt="">
      </div>
      <div class="item gts col-lg-4 col-md-4 col-sm-6 col-6 pt-4">
         <img class="img-fluid" src="images/galerie/causa.jpg" alt="">
      </div>
      <div class="item gts col-lg-4 col-md-4 col-sm-6 col-6 pt-4">
         <img class="img-fluid" src="images/galerie/papa-rellena.jpg" alt="">
      </div>
      
   </div>
</div>

  
   

<%- include('../partials/footer') -%>