
<%- include('../partials/head',{title_page:'home'}) %>


<section class="  mx-auto text-center  mb-3" >
  
   <h1 class=" mt-5 p-2 fs-4  border-3">Une Restaurant unique a votre service<span class="text-primary"> Restaurant Marcelita</span></h1>
   
   <p class="p-2 fs-5"><span class=" text-primary " >Restaurant Marcelita </span>un monde de saveurs péruviennes, dans d'exquises spécialités du Pérou pour les palais français les plus exigeants.</p>
   <div class="container" >
       <img class= "img_home" src="images/wallpaper/box-intro.jpg" alt="">
   </div>
</section>

<%- include('../partials/footer') -%>