<%- include('../partials/head',{title_page:'services'}) %>
<%- include ('../partials/menu') -%>

<section class="container esp_box mt-3" id="menu">    
   <div class=" box-menu container-fluid ms-auto text-center mt-5">

       <h1 class="title" >
           MENU CARTE À 28.50 €
       </h1> 
       <hr>
       <p> <span>3 entrées, 4 plats, 4 fromages ou desserts au choix</span> </p>
   
       <h3 class="sub-title">
           Les entrées
       </h3> 
       <p>Pomme de terre à la huancaina</p>
       <p>Causa au Lima</p>
       <p>Ceviche de fruits de mer</p>
   
       <h3 class="sub-title">
           Les plats
       </h3> 
       <p>Riz avec canard</p>
       <p>chicharron de cochon</p>
       <p>Lomito sauté</p>
       <p>agneau au four</p>
       <h3 class="sub-title">
           Les Desserts
       </h3> 
       <p>Riz au lait</p>
       <p>Masamorra violet</p>
       <p>Picarones</p>

</section>

<%- include('../partials/footer') -%>